.cabecalho {
    background-image: url(../../images/bg-pattern-intro-desktop.svg), linear-gradient(90deg,var(--bg-very-light-red) 10% ,var(--bg-light-red)65% );
    background-size:225%;
    background-position:24% 49% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    
}

