.cabecalho_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 10rem);
    height: 3.75rem;
    margin: 0 5rem;
    align-items: center;
}

.cabecalho_acessores {
    display: flex;
    column-gap: 2rem;
}

.cabecalho_lista__itens__link__signup {
    margin-left: 2rem;
}

.cabecalho_acessor__product .cabecalho_acessor__company {
    border: none;
}