.cabecalho_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 7rem);
    height: 3.75rem;
    margin: 1rem 5rem 0 2rem;
    align-items: center;
    color: var(--white);
}

.cabecalho_logo {
    font-size: 2.4rem;
}

.cabecalho_acessores {
    display: flex;
    width: 60%;
    height: 3.75rem;
}

.acessores {
    display: flex;
    align-items: center; 
    column-gap: 2rem;
}

.acessores_link {
    padding-right: 1.2rem;
    text-decoration: none;
    color: var(--white-opaco);
    font-size: 1rem;
    font-weight: 700;
    background: url(../../images/icon-arrow-light.svg) no-repeat right;
}

.cabecalho_lista__botao___login {
    color: var(--white-opaco);
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 700;
}

.cabecalho_lista__botao___signup {

}




